body {
    display: grid;
    background: #efeff0;
    place-content: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    width: 95%;
    /* background: #ffffff; */
    box-shadow: 0px 16px 32px rgba(17, 24, 39, 0.08);
    border-radius: 4px;

    background: #101010;
    border-radius: 4px;
    border: 1px solid #333;
    margin-bottom: 1.4rem;
}

main header {
    display: flex;
    align-items: center;
    gap: 1px;
    color: #e1e1e1;
}

main header span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 32px;
    height: 32px;
}

main section h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 19px;
    /* color: #151619; */
    color: #e1e1e1;
}

main section p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #151619;
}

main footer {
    gap: 1rem;
    display: flex;
}

.btn {
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    height: 40px;
    border-radius: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 100%;
}

.btn.neutral {
    color: #151619;
    background: #d6d8db;
}
.btn.neutral:hover {
    /* background: #151619; */
    /* color: #d6d8db; */
    /* cursor: pointer; */

    background: slategrey;
    color: #efedef;
    cursor: pointer;
}

.btn.neutral:active {
    background: rgb(139, 4, 4);
    color: #fff;
}

.btn.primary {
    color: #ffffff;
    /* background: #2b67e9; */
    background: #5ea6e9;
}
.btn.primary:hover {
    background: #646cff;
    /* background: #022380; */
    cursor: pointer;
}
.btn.primary:active {
    background: #10681e;
}
section {
    margin-top: -17px;
}