/* PostmannComponent.css */
.postmann-container {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.postmann-title {
    font-size: 18px;
    margin-bottom: 12px;
    color: #f15a24;
   /* Postmann color */
   /* #61dafb;
    */
   /* React blue color */
}
.postmann-select, .postmann-input, .postmann-textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #61dafb;
   /* React blue color */
    border-radius: 4px;
    background-color: #111;
   /* #282c34;
    */
   /* Dark background color */
    color: #ffffff;
    resize: vertical;
}
.postmann-select {
    cursor: pointer;
}
.postmann-textarea {
    height: 7.75rem;
    min-height: 7.75rem;
}
.postmann-input::placeholder, .postmann-textarea::placeholder {
    color: #8a8a8a;
    font-family: monospace;
    font-size: 11px;
}
.postmann-button {
    background-color: #61dafb;
    color: #1e1e1e;
    padding: 10px 15px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.postmann-button:hover {
    background-color: #4fa3d1;
    border-color: #4fa3d1;
    color: #ffffff;
}
.postmann-response-title {
    font-size: 14px;
}
.postmann-tabs {
    display: flex;
}
.postmann-tab {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #61dafb;
   /* React blue color */
    border-radius: 4px 4px 0 0;
    background-color: #282c34;
   /* Dark background color */
    color: #61dafb;
   /* React blue color */
}
.postmann-tab:hover {
    background-color: #4fa3d1;
   /* Darker shade on hover */
}
.postmann-tab.active {
    background-color: #4fa3d1;
   /* Active tab color */
    border-bottom: 1px solid #4fa3d1;
   /* Active tab border color */
}
.postmann-raw-response,
.syntax-hl-custom-styles {
    border-width: 1px!important;
    border-style: solid!important;
    border-color: transparent #61dafb #61dafb #61dafb!important;
    border-radius: 0 0 4px 4px!important;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}
.syntax-hl-custom-styles {
    padding: 1em 0.45em;
    margin: 0!important;
}
.postmann-raw-response {
    width: 100%;
    padding-left: 0.5rem!important;
    margin-top: -1px;
}
.loading-indicator {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #61dafb;
   /* React blue color */
    padding-right: 2rem;
}
.dot1, .dot2, .dot3 {
    width: 3px;
    height: 3px;
    background-color: #61dafb;
   /* React blue color */
    border-radius: 50%;
    margin: 0 4px;
    animation: loadingDots 1s infinite ease-in-out;
}
@keyframes loadingDots {
    0%, 20%, 80%, 100% {
        transform: scale(1);
   }
    50% {
        transform: scale(1.5);
   }
}
.postmann-get {
    color: #007F31;
}
.postmann-post {
    color: #AD7A03;
}
.postmann-put {
    color: #0053B8;
}
.postmann-patch {
    color: #623497;
}
.postmann-delete {
    color: #d73a49;
}
.success {
    color: green;
   /* Green color for success */
}
.error {
    color: red;
   /* Red color for client errors and general errors */
}
.server-error {
    color: darkred;
   /* Dark red color for server errors */
}
.postmann-header {
    display: flex;
    align-items: center;
   /* Centers the content horizontally */
    margin-bottom: 10px;
   /* Adjust as needed */
}
.postmann-logo {
    width: 50px;
   /* Adjust as needed */
    height: auto;
    margin-right: 10px;
   /* Adjust as needed */
}
.postmann-title {
    margin: 0;
   /* Remove default margin */
}
.postmann-logo.rotating {
    animation: rotate 14s linear infinite;
   /* Adjust duration and timing function as needed */
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
pre {
    font-family: Arial,sans-serif!important;
    padding: 1px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.postmann-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto; /* Push to the right side of the container */
}
.postmann-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease-in-out;
}
.postmann-links a:hover {
    color: #4fa3d1;
}
.donateHeart {
    color: #ff5a5f; /* Change heart color */
}
.githubLink {
    color: #ffffff; /* Change GitHub icon color */
}

