/* PostmannComponent.css */
.postmann-container {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.postmann-title {
    font-size: 18px;
    margin-bottom: 12px;
    color: #f15a24;
    /* Postmann color */
    /* #61dafb;
    */
    /* React blue color */
}

.postmann-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.46rem;
    line-height: 0.46rem;
    padding-top: 1rem;
}

.postmann-select,
.postmann-input,
.postmann-textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #61dafb;
    /* React blue color */
    border-radius: 4px;
    background-color: #111;
    /* #282c34;
    */
    /* Dark background color */
    color: #ffffff;
    resize: vertical;
}

.postmann-select {
    cursor: pointer;
}

.postmann-textarea {
    height: 7.75rem;
    min-height: 7.75rem;
}

.postmann-input::placeholder,
.postmann-textarea::placeholder {
    color: #8a8a8a;
    font-family: monospace;
    font-size: 11px;
}

.postmann-button {
    background-color: #61dafb;
    color: #1e1e1e;
    padding: 10px 15px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.postmann-button:hover {
    background-color: #4fa3d1;
    border-color: #4fa3d1;
    color: #ffffff;
}

.postmann-response-title {
    font-size: 14px;
}

.postmann-tabs {
    display: flex;
}

.postmann-tab {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #61dafb;
    /* React blue color */
    border-radius: 4px 4px 0 0;
    background-color: #282c34;
    /* Dark background color */
    color: #61dafb;
    /* React blue color */
}

.postmann-tab:hover {
    background-color: #4fa3d1;
    /* Darker shade on hover */
}

.postmann-tab.active {
    background-color: #4fa3d1;
    /* Active tab color */
    border-bottom: 1px solid #4fa3d1;
    /* Active tab border color */
    color: white;
    text-decoration: none;
}

.postmann-raw-response,
.syntax-hl-custom-styles {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent #61dafb #61dafb #61dafb !important;
    border-radius: 0 0 4px 4px !important;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

.syntax-hl-custom-styles {
    padding: 1em 0.45em 1em 0 !important;
    margin: 0 !important;
}

.postmann-raw-response {
    width: 100%;
    padding-left: 0.5rem !important;
    margin-top: -1px;
    overflow-x: hidden;
}

.loading-indicator {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #61dafb;
    /* React blue color */
    padding-right: 2rem;
}

.dot1,
.dot2,
.dot3 {
    width: 3px;
    height: 3px;
    background-color: #61dafb;
    /* React blue color */
    border-radius: 50%;
    margin: 0 4px;
    animation: loadingDots 1s infinite ease-in-out;
}

@keyframes loadingDots {

    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

.postmann-get {
    color: #007F31;
}

.postmann-post {
    color: #AD7A03;
}

.postmann-put {
    color: #0053B8;
}

.postmann-patch {
    color: #623497;
}

.postmann-delete {
    color: #d73a49;
}

.success {
    color: green;
    /* Green color for success */
}

.error {
    color: red;
    /* Red color for client errors and general errors */
}

.server-error {
    color: darkred;
    /* Dark red color for server errors */
}

.postmann-header {
    display: flex;
    align-items: center;
    /* Centers the content horizontally */
    margin-bottom: 10px;
    /* Adjust as needed */
}

.postmann-logo {
    width: 50px;
    /* Adjust as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust as needed */
}

.postmann-title {
    margin: 0;
    /* Remove default margin */
}

.postmann-logo.rotating {
    animation: rotate 14s linear infinite;
    /* Adjust duration and timing function as needed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

pre {
    font-family: Arial, sans-serif !important;
    padding: 1px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.postmann-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    /* Push to the right side of the container */
}

.postmann-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease-in-out;
}

.postmann-links a:hover {
    color: #4fa3d1;
}

.donateHeart {
    color: #ff5a5f;
    /* Change heart color */
}

.githubLink {
    color: #ffffff;
    /* Change GitHub icon color */
}

.donation-modal.ReactModal__Content--after-open {
    opacity: 1;
}

.donation-modal.ReactModal__Content--before-close {
    opacity: 0;
}

.donation-modal-overlay.ReactModal__Overlay--after-open {
    opacity: 1;
}

.donation-modal-overlay.ReactModal__Overlay--before-close {
    opacity: 0;
}

.donation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;
    padding: 15px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.donation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.close-button:hover {
    color: red;
    border: none;
}

.donation-india-qr {
    width: 255px;
    border: 2px solid #4fa3d1;
    border-radius: 5px;
}

.close-button {
    position: fixed;
    top: 8px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.binaryPRE {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    font-family: monospace;
    color: #121212;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.binaryFC-title-p {
    text-decoration: underline;
    margin-top: 1rem;
}

.binaryFC-count-p {
    margin-top: 0.5rem;
}

.binaryFC-length-kbd {
    padding: 3px 4px 0px 4px;
    font-size: .9em;
    color: #61dafb;
    background: rgba(0, 0, 0, 0.69);
    border: transparent;
    border-radius: 3px 0 3px 0;
}

.pdf-iframe {
    width: 100%;
    height: 37em;
    padding: 0;
    margin: 0 auto;
    /* centers the iframe if it's not as wide as its container */
    border: 1px solid #343434;
    /* a light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* a subtle shadow for depth */
    border-radius: 4px;
    /* rounded corners */
}

.imageResponse-img {
    max-width: 100%;
    height: auto;
}

.invalidJSON-sup {
    color: red;
    background-color: white;
    padding: 1px 4px;
    margin: 0 0 0 3px;
    font-size: 0.55rem;
    /* border: 1px solid black; */
    border-radius: 5px;
}

/* .optionsDiv {
    border: 1px solid #61dafb;
    border-top: none;
    background-color: black;
    padding: 2px;
    margin: 0;
} */

/* .wrap-button-icon {
    color: green;
} */

.optionsDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #61dafb;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    padding: 1px;
}

.wrap-button,
.theme-button,
.copy-button, .download-button, .toggle-lnum-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    /* padding: 10px 15px; */
    /* margin-right: 10px; */
    cursor: pointer;
    border-radius: 1px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 4px 13px
}

.wrap-button:hover,
.copy-button:hover,
.theme-button:hover, .download-button:hover, .toggle-lnum-button:hover {
    background-color: #2980b9;
}

.rbi-button-icon {
    margin-right: 2px;
}

.syntax-hl-custom-styles {
    border: 1px solid #61dafb !important;
    border-radius: 0 0 4px 4px;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

/*   
  .copy-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .copy-button:hover {
    background-color: #27ae60;
  } */

.flash {
    animation: flashAnimation .4s ease-in-out;
}

@keyframes flashAnimation {

    0%,
    100% {
        scale: 1;
    }

    50% {
        background-color: #007F31;
        scale: 1.01;
    }
}