/* PostmannComponent.css */

:root {
    --background-color: #121212;
    --font-color-red: #61dafb;
    --font-color-blue: #5258cc;
    --font-color-react: #61dafb;
    --font-color-slategrey: slategrey;
    --modal-bg-color: #1e1e1e;
    --padding: 4px 13px;
    --border-radius: 3px;
    --margin: 0 1.1ch;
    --margin-right: 1.1ch;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

.postmann-container {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    min-height: 37rem;
}
.postmann-title-anchor {
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    color: inherit;
}

.postmann-title {
    font-size: 18px!important;
    /* margin-bottom: 12px!important; */
    color: #f15a24!important;
    cursor: default;
    /* Postmann color */
    /* #61dafb;
    */
}

.postmann-title-anchor:hover {
    color: #f15a24!important;
    text-decoration: underline;
}
.postmann-title-anchor:hover .postmann-logo.rotating {
    animation-play-state: paused;
}
.postmann-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.46rem;
    line-height: 0.46rem;
    padding-top: 1rem;
}

.postmann-select,
.postmann-input,
.postmann-textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* React blue color */
    border-radius: 4px;
    background-color: #111;
    /* #282c34;
    */
    /* Dark background color */
    color: #ffffff;
    resize: vertical;
}

.postmann-select {
    cursor: pointer;
}

.postmann-textarea {
    height: 7.75rem;
    min-height: 7.75rem;
}

.postmann-input::placeholder,
.postmann-textarea::placeholder {
    color: #8a8a8a;
    font-family: monospace;
    font-size: 11px;
}

.postmann-button {
    background-color: var(--font-color-react);
    color: #1e1e1e;
    padding: 10px 15px;
    border: 1px solid var(--font-color-react);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.postmann-button:hover {
    background-color: #4fa3d1;
    border-color: #4fa3d1;
    color: #ffffff;
}

.postmann-tabs {
    display: flex;
}

.postmann-tab {
    flex: 1;
    padding: 9px 12px;
    cursor: pointer;
    border: 1px solid var(--font-color-react);
    /* React blue color */
    border-radius: 4px 4px 0 0;
    background-color: #282c34;
    /* Dark background color */
    color: var(--font-color-react);
    /* React blue color */
}

.postmann-tab:hover {
    background-color: #4fa3d1;
    /* Darker shade on hover */
}

.postmann-tab.active {
    background-color: #4fa3d1;
    /* Active tab color */
    border-bottom: 1px solid #4fa3d1;
    /* Active tab border color */
    color: white;
    text-decoration: none;
}

.postmann-raw-response,
.syntax-hl-custom-styles {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent var(--font-color-react) var(--font-color-react) var(--font-color-react) !important;
    border-radius: 0 0 4px 4px !important;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

.syntax-hl-custom-styles {
    padding: 1em 0.45em 1em 0 !important;
    margin: 0 !important;
}

.postmann-raw-response {
    width: 100%;
    padding-left: 0.5rem !important;
    margin-top: -1px;
    overflow-x: hidden;
}

.loading-indicator {
    display: flex;
    font-size: 18px;
    color: var(--font-color-react);
    /* React blue color */
    border: 1px solid var(--font-color-react);
    border-top: none;
    justify-content: center;
    padding: 0.35rem 0;
    align-items: center;
}

.dot1,
.dot2,
.dot3 {
    width: 3px;
    height: 3px;
    background-color: var(--font-color-react);
    /* React blue color */
    border-radius: 50%;
    margin: 0 4px;
    animation: loadingDots 1s infinite ease-in-out;
}

@keyframes loadingDots {

    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

.postmann-get {
    color: #007F31;
}

.postmann-post {
    color: #AD7A03;
}

.postmann-put {
    color: #0053B8;
}

.postmann-patch {
    color: #623497;
}

.postmann-delete {
    color: #d73a49;
}

.success {
    color: green;
    /* Green color for success */
}

.error {
    color: red;
    /* Red color for client errors and general errors */
}

.server-error {
    color: darkred;
    /* Dark red color for server errors */
}

.postmann-header {
    display: flex;
    align-items: center;
    /* Centers the content horizontally */
    margin-bottom: 10px;
    /* Adjust as needed */
}

.postmann-logo {
    width: 50px;
    /* Adjust as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust as needed */
}

.postmann-title {
    margin: 0;
    /* Remove default margin */
}

.postmann-logo.rotating {
    animation: rotate 14s linear infinite;
    /* Adjust duration and timing function as needed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

pre {
    font-family: IBMPlexMono, "Courier New", monospace, Consolas, "Courier New", monospace !important;
    font-weight: normal;
    font-size: 12px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 1px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.postmann-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    /* Push to the right side of the container */
}

.postmann-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease-in-out;
}

.postmann-links a:hover {
    color: #4fa3d1;
}

.donateHeart {
    color: #ff5a5f;
    /* Change heart color */
}

.githubLink {
    color: #ffffff;
    /* Change GitHub icon color */
}

.donation-modal.ReactModal__Content--after-open {
    opacity: 1;
}

.donation-modal.ReactModal__Content--before-close {
    opacity: 0;
}

.donation-modal-overlay.ReactModal__Overlay--after-open {
    opacity: 1;
}

.donation-modal-overlay.ReactModal__Overlay--before-close {
    opacity: 0;
}

.donation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;
    padding: 15px;
    border-radius: 8px;
    max-width: 95%;
    max-height: 82%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.donation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.close-button:hover {
    color: red;
    border: none;
}

.donation-india-qr {
    width: 255px;
    border: 2px solid #4fa3d1;
    border-radius: 5px;
}

.close-button {
    position: fixed;
    top: 8px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.binaryPRE {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    font-family: monospace;
    color: #121212;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.binaryFC-title-p {
    text-decoration: underline;
    margin-top: 1rem;
}

.binaryFC-count-p {
    margin-top: 0.5rem;
}

.binaryFC-length-kbd {
    padding: 3px 4px 0px 4px;
    font-size: .9em;
    color: var(--font-color-react);
    background: rgba(0, 0, 0, 0.69);
    border: transparent;
    border-radius: 3px 0 3px 0;
}

.pdf-iframe {
    width: 100%;
    height: 37em;
    padding: 0;
    margin: 0 auto;
    /* centers the iframe if it's not as wide as its container */
    border: 1px solid #343434;
    /* a light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* a subtle shadow for depth */
    border-radius: 4px;
    /* rounded corners */
}

.imageResponse-img {
    max-width: 100%;
    height: auto;
}

.invalidJSON-sup {
    color: red;
    background-color: #EEEEEE;
    padding: 1px 4px;
    margin: 0 0 0 3px;
    font-size: 0.55rem;
    /* border: 1px solid black; */
    border-radius: 5px;
}


.optionsDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--font-color-react);
    border-top: none;
    border-bottom: none;
    background-color: #123256;
    padding: 1px;
}

.wrap-button,
.theme-button,
.copy-button,
.download-button,
.toggle-lnum-button {
    /* background-color: #3498db; */
    background-color: #123256;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 4px 12px
}

.wrap-button:hover,
.copy-button:hover,
.theme-button:hover,
.download-button:hover,
.toggle-lnum-button:hover {
    background-color: #2980b9;
}

.rbi-button-icon {
    margin-right: 2px;
}

.syntax-hl-custom-styles {
    border: 1px solid var(--font-color-react) !important;
    border-radius: 0 0 4px 4px;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

.flash {
    animation: flashAnimation .4s ease-in-out;
}

@keyframes flashAnimation {

    0%,
    100% {
        scale: 1;
    }

    50% {
        background-color: #007F31;
        scale: 1.01;
    }
}

.postmann-response-title {
    color: white;
    font-size: 14px;
    font-family: Inter !important;
    margin: 1.75em auto 1.5em auto;
}

.prt-code,
.prt-time,
.prt-size {
    background-color: var(--background-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.prt-code {
    margin: var(--margin);
}

.prt-time {
    color: var(--font-color-react);
    margin-right: var(--margin-right);
}

.prt-size {
    color: var(--font-color-slategrey);
    font-weight: normal;
}

/* START TOOLTIP STYLES */
[data-tooltip] {
    position: relative;
    /* opinion 1 */
    cursor: pointer;

}

/* Applies to all tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .8em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[data-tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 31em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([flow])::before,
[data-tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[data-tooltip]:not([flow])::after,
[data-tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[data-tooltip]:not([flow])::before,
[data-tooltip]:not([flow])::after,
[data-tooltip][flow^="up"]::before,
[data-tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}


/* FX All The Things */
[data-tooltip]:not([flow]):hover::before,
[data-tooltip]:not([flow]):hover::after,
[data-tooltip][flow^="up"]:hover::before,
[data-tooltip][flow^="up"]:hover::after,
[data-tooltip][flow^="down"]:hover::before,
[data-tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

@keyframes rotateAndStop {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(360deg);
        display: inline-block;
    }
}

.hourGlassEmoji-styles {
    animation: rotateAndStop 4s linear infinite;
}

.dynamic-options {
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #282c34;
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.notes-modal,
.vars-modal,
.history-modal,
.mrh-modal,
.about-modal {
    background-color: var(--modal-bg-color);
    border: 2px solid #666;
}

.dynamic-options-modal-h1 {
    color: #F15A24;
    margin-bottom: 1.25rem;
    font-size: 1.85rem;
}
.mt-equal-1 {
    margin-top: 1.15rem;
}

.postmann-version-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.postmann-info-circle {
    font-size: 16px;
}