.mrh-label {
    color: #fff;
    margin-bottom: 1rem;
}
.mrh-container {
    width: 318px;
}
.mrhTA {
    width: 100%;
    height: 16rem;
}

.table-container {
    display: table;
    width: 304px;
    border-collapse: collapse;
    margin: 20px 0;
   }
   
   .table-row {
    display: table-row;
   }
   
   .table-row.header {
    background-color: #f2f2f2; /* Light grey background for headers */
   }
   
   .table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.65rem;
   }
   
   .buttons-div {
    text-align: center;
    color: white;
    padding: 5px;
    border-left: 1px solid #ddd; /* Separate delete button from value column */
   }
   
   .delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
   }
   
   /* Styling for alternating row colors */
   .table-row:nth-child(even) {
    background-color: #f2f2f2;
   }
   .table-row:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
  }
   .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .btnContainerMRH {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .btnContainerMRH button {
    border-radius: 2px;
  }
  
/* .var-name {
    max-width: 19px;
} */


.icon-delete-header, .icon-copy-header-value {
  color: rgb(110, 110, 110);
  font-size: 1.15rem;
}

.icon-delete-header:hover, .icon-copy-header-value:hover {
  color: rgb(36, 34, 34);
  cursor: pointer;
 }
 .icon-delete-header:active {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.icon-copy-header-value:active {
  color: rgb(12, 139, 0);
  cursor: pointer;
}

