.nc-textarea {
    width: 89%;
    height: 11.5em;
    overflow-x: hidden;
    font-size: 1.1rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    color: whitesmoke;
    background-color: #111;
    /* color: #DDD;
    background-color: #333; */

}

.notes-label {
    color: white;
    margin-bottom: 1rem;
}